@model IEnumerable<LND.Web.Models.ProductCategoryViewModel>
@using Microsoft.AspNet.Identity;
<div class="header" id="home">
    <div class="container">
        <ul>
            @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogout" }))
            {
                if (Request.IsAuthenticated)
                {
                    @Html.AntiForgeryToken()

                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:hung.vvh98@gmail.com">legendneverdie.com</a></li>

                    <li style="border-right:none!important;"><i class="fa fa-phone" aria-hidden="true"></i> Call : 01234567898</li>
                    // <li style="border-right:none!important;"></li>
                    <li>
                        <a href="/tai-khoan.html">
                            <i class=" fa fa-user"></i>
                            Xin chào:<span style="color:aqua"> @User.Identity.GetUserName() </span>
                        </a>
                    </li>
                    <li style="border-right:none!important;">
                        <i class="glyphicon glyphicon-log-out"></i>
                        <a href="#" id="btnLogout">Đăng xuất</a>
                    </li>
                }
                else
                {
                    <li> <a href="/dang-nhap-html" @*data-toggle="modal" data-target="#myModal"*@><i class="fa fa-unlock-alt" aria-hidden="true"></i> Đăng nhập </a></li>
                    <li> <a href="/dang-ky-html" @*data-toggle="modal" data-target="#myModal2"*@><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Đăng kí </a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> Call : 01234567898</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:infoexample.com">legendneverdie.com</a></li>
                }
            }
        </ul>
    </div>
</div>
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <div class="logo_agile col-md-4">
            <h1><a href="trang-chu-html"><span>L</span>egend </a></h1>
        </div>
        <div class="col-md-4 header-middle">
            <form action="tim-kiem-html" method="get">
                <input type="search" name="keyword" placeholder="Nhập từ khóa..." required="">
                <input type="submit" value=" ">
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="col-md-4 agileits-social top_content">
            <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                <li class="share">Share On : </li>
                <li>
                    <a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="active menu__item menu__item--current"><a class="menu__link" href="/trang-chu-html">Trang chủ <span class="sr-only">(current)</span></a></li>

                            <li class="dropdown menu__item">
                                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thời trang nam <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                                            <a href="#"><img src="~/Assets/client/images/top2.jpg" alt=" " /></a>
                                        </div>
                                        @foreach (var category in Model.OrderByDescending(x => x.CreatedDate).Take(6))
                                        {
                                            var url = "/" + category.Alias + "-pc-" + category.ID + "-html";
                                            if (category.Name.Contains("nam"))
                                            {
                                                <div class="col-sm-3 multi-gd-img">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="@url">@category.Name</a></li>
                                                    </ul>
                                                </div>
                                            }
                                        }
                                        @foreach (var category in Model.OrderByDescending(x => x.CreatedDate).Skip(6))
                                        {
                                            var url = "/" + category.Alias + "-pc-" + category.ID + "-html";
                                            if (category.Name.Contains("nam"))
                                            {
                                                <div class="col-sm-3 multi-gd-img">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="@url">@category.Name</a></li>
                                                    </ul>
                                                </div>
                                            }
                                        }
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown menu__item">
                                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thời trang nữ <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                @foreach (var category in Model.OrderByDescending(x => x.CreatedDate))
                                                {
                                                    var url = "/" + category.Alias + "-pc-" + category.ID + "-html";
                                                    if (category.Name.Contains("nữ"))
                                                    {
                                                        <li><a href="@url">@category.Name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 multi-gd-img multi-gd-text ">
                                            <a href="#"><img src="~/Assets/client/images/top1.jpg" alt=" " /></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="menu__item dropdown">
                                <a class="menu__link dropdown-toggle" href="#" data-toggle="dropdown">Tin tức <b class="caret"></b></a>
                                <ul class="dropdown-menu agile_short_dropdown">
                                    <li><a href="/hang-giam-gia-html">Hàng giảm giá</a></li>
                                    <li><a href="/bai-viet-html">Bài viết</a></li>
                                    <li><a href="/tuyen-dung-html">Tuyển dụng</a></li>
                                </ul>
                            </li>
                            <li class=" menu__item"><a class="menu__link" href="/lien-he-html">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>



        <div class="top_nav_right">
            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                <form action="#" method="post" class="last">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="display" value="1">
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
