@model IEnumerable<LND.Web.Models.ProductCategoryViewModel>
@using Microsoft.AspNet.Identity;
<header class="header-custom" id="home">
    @if (Request.IsAuthenticated)
    {
        @Html.AntiForgeryToken()
        <div class="top-header">
            <h5 class="text-logout">Xin chào : <span style="color:#ff0000"> @User.Identity.GetUserName() </span></h5>
            <i class="glyphicon glyphicon-user text-logout" style="padding-right:10px!important"></i>
        </div>

    }

    <div class="container-custom">
        <h1><a href="/" class="logo" id="logo-hover"> LND</a></h1>
        <form class="search-form" action="/tim-kiem-html" method="get">
            <input type="text" class="input-search" name="keyword" placeholder="Gõ từ khóa tìm kiếm" />
            <input type="submit" class="submit-search" value="Tìm kiếm" />
            <div class="clearfix"></div>
        </form>
        <div class="user-nav">
            <label id="countItem"></label>
            <a href="/gio-hang" class="item cart" id="cart-hover" title="giỏ hàng"></a>
        </div>
        @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogout" }))
        {
            if (Request.IsAuthenticated)
            {
                @Html.AntiForgeryToken()
                <div class="text-login">
                    <a><i class="glyphicon glyphicon-log-out"></i></a>
                    <a href="#" id="btnLogout">Đăng xuất</a>
                </div>

            }
            else
            {
                <div class="text-login">
                    <a><i class="glyphicon glyphicon-user"></i></a>
                    <a href="/dang-nhap-html" class="nut" id="login-hover">Đăng nhập</a>
                </div>
            }
        }
    </div>
</header>
<div class="menu-custom drop" id="menu-hover">
    <ul>
        <li><a href="/trang-chu-html">Trang chủ</a></li>
        <li><a href="/gioi-thieu-html">Giới thiệu</a></li>
        <li class="dropdown-custom">
            <a class="dropbtn">Thời trang nam<i class="fa fa-angle-down"></i></a>
            <div class="dropdown-content-custom">
                <div style="max-width:300px;display:block;background-color:#333">

                    @foreach (var category in Model.OrderByDescending(x => x.CreatedDate).Take(4))
                    {
                        var url = "/" + category.Alias + "-pc-" + category.ID + "-html";
                        if (category.Name.Contains("nam"))
                        {

                            <ul style="padding:0!important;float:left;width:50%">

                                <li><a href="@url">@category.Name</a></li>
                            </ul>

                        }
                    }

                    @foreach (var category in Model.OrderByDescending(x => x.CreatedDate).Skip(4))
                    {
                        var url = "/" + category.Alias + "-pc-" + category.ID + "-html";
                        if (category.Name.Contains("nam"))
                        {
                            <ul style="padding:0!important;float:left;width:50%">

                                <li><a href="@url">@category.Name</a></li>
                            </ul>
                        }
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </li>
        <li class="dropdown-custom">
            <a href="#" class="dropbtn">Thời trang nữ<i class="fa fa-angle-down"></i></a>
            <div class="dropdown-content-custom">
                @foreach (var category in Model.OrderByDescending(x => x.CreatedDate))
                {
                    var url = "/" + category.Alias + "-pc-" + category.ID + "-html";
                    if (category.Name.Contains("nữ"))
                    {
                        <ul style="padding:0!important;">
                            <li><a href="@url">@category.Name</a></li>
                        </ul>
                    }
                }
                <div class="clearfix"></div>
            </div>
        </li>
        <li class="dropdown-custom">
            <a href="#" class="dropbtn">Tin tức<i class="fa fa-angle-down"></i></a>
            <div class="dropdown-content-custom">
                <ul style="padding:0;">
                    <li> <a href="/hang-giam-gia-html">Hàng giảm giá</a></li>
                </ul>
                <ul style="padding:0!important;">
                    <li> <a href="/bai-viet-html">Bài viết</a></li>
                </ul>
                <ul style="padding:0!important;">
                    <li> <a href="/hang-giam-gia-html">Tuyển dụng</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </li>
        <li><a href="/lien-he-html">Liên hệ</a></li>
        <li style=" float: right;padding-right: 350px;" id="smallsearch"><a><i class="fa fa-search"></i></a></li>
    </ul>
</div>

<div class="header-custom search-hide" style="height:100px;background:none!important" id="searchId">
    <form class="search-form" action="/tim-kiem-html" method="get" style="left:200px;width:900px;border:2px solid #ff0000">
        <input type="text" class="input-search" name="keyword" placeholder="Gõ từ khóa tìm kiếm" />
        <input type="submit" class="submit-search" value="Tìm kiếm" />
        <div class="clearfix"></div>
    </form>
    <a class="search-close" id="closeId" style="display:none"><i class="fa fa-close"></i></a>
</div>