@model LND.Web.Models.FeedbackViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layouts.cshtml";
}
<div class="mapouter">
    <div class="gmap_canvas" style="padding:30px 100px" >
        <iframe width="1150" height="550" id="gmap_canvas"
                src="https://maps.google.com/maps?q=242%20xa%20dan&t=&z=15&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 550px;
                width: 100%;
               
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 100%;
                width: 100%;
                
            }
           
        </style>
    </div>
</div>
    <div class="banner_bottom_agile_info">
        <div class="container">
            <div class="agile-contact-grids">
                <div class="agile-contact-left">
                    <div class="col-md-6 address-grid">
                        <h4>Xem thêm <span>Thông tin</span></h4>
                        <div class="mail-agileits-w3layouts">
                            <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                            <div class="contact-right">
                                <p>Telephone </p><span>+84 34567898</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="mail-agileits-w3layouts">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <div class="contact-right">
                                <p>Mail </p><a href="mailto:info@example.com">legendneverdie@gmai.com</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="mail-agileits-w3layouts">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div class="contact-right">
                                <p>Địa chỉ</p><span>D3- Đại học bách khoa HN.</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two contact">
                            <li class="share">Chia sẻ : </li>
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 contact-form">
                        @using (Html.BeginForm("SendFeedback", "Contact", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            if (ViewData["SuccessMsg"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    <strong>Gửi phản hồi thành công. </strong>
                                </div>
                            }

                            <h4 class="white-w3ls">Liên hệ</h4>
                            <form action="#" method="post">
                                <div class="styled-input agile-styled-input-top">
                                    @Html.TextBoxFor(model => model.Name)
                                    <label>Họ tên</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    @Html.TextBoxFor(model => model.Email)
                                    <label>Email</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    @Html.TextAreaFor(model => model.Message)
                                    <label>Tin nhắn</label>
                                    <span></span>
                                </div>
                                <input type="submit" value="Gửi phản hồi">
                            </form>
                        }
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
