@model IEnumerable<LND.Web.Models.ProductViewModel>
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/layouts.cshtml";
}

<div class="resp-tabs-container" style="padding-left:100px; padding-right:100px;">

@foreach (var product in Model.Where(x=>x.CategoryID!=15 && x.CategoryID!=17 && x.PromotionPrice!=null))
{
    var url = "/" + product.Alias + "-p-" + product.ID + "-html";
    var pricePromotion = product.Price * (1 - product.PromotionPrice / 100);
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">

            <div class="men-thumb-item">
                <img src="@product.Image" alt="" class="pro-image-front">
                <img src="@product.Image" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="@url" class="link-product-add-cart">Xem ngay</a>
                    </div>
                </div>             
                    <span class="product-new-top">-@product.PromotionPrice %</span>              
            </div>
            <div class="item-info-product ">
                <h4><a href="@url">@product.Name</a></h4>
                <div class="info-product-price">

                    @if (product.PromotionPrice.HasValue)
                    {
                        <span class="item_price">@pricePromotion.Value.ToString("N0") đ</span> <br />
                        <del>@product.Price.ToString("N0") đ</del>
                    }
                    else
                    {
                        <br />
                        <span class="item_price">@product.Price.ToString("N0")</span>
                    }
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                            <input type="hidden" name="amount" value="30.99" />
                            <input type="hidden" name="discount_amount" value="1.00" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Thêm vào giỏ hàng" class="button" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<div class="clearfix"></div>
</div>